@import '../../../common/styles/colors';

.editor {
  position: relative;

  .jsoneditor {
    border-color: $secondary_20;

    .ace-jsoneditor .ace_marker-layer .ace_active-line {
      background-color: rgba($primary_100, 0.1);
    }

    div.jsoneditor-outer {
      padding: 0 !important;
    }
  }
}
