{
  "presets": [
    [
      "react-app",
      {
        "flow": false,
        "typescript": true,
        "helpers": false
      }
    ],
    "@babel/preset-env"
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  "comments": false
}
