body, html, #root {
    width: 100%;
    height: 100%;
}

#center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

svg {

}

table {
    border-collapse: collapse;
}

table tr td {
    border: 1px solid #ccc;
    padding: 4px 8px;
}

